// 字体
$font-family = -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei', sans-serif
// 背景
$background-regular = #f7f7f7
$background-theme = #ddd
$background-sub-theme = #bbb
// 字体颜色
$color-regular = #333
$color-theme = #077af1
$color-sub-theme = #d93f30
// 边框
$border-color = #ddd
// 分界线
$single-border-color = #eee
// 圆角
$border-radius = 0.4167rem
// 输入框
$input-placeholder-color = #bbb
// 阴影
$box-shadow = 0px 9px 18px 0px rgba(0, 0, 0, 0.04)
// 字体大小
$fs10 = 0.4167rem
$fs12 = 0.5rem
$fs14 = 0.5833rem
$fs16 = 0.6667rem
$fs17 = 0.7083rem
$fs18 = 0.75rem
$fs20 = 0.8333rem
$fs21 = 0.875rem
$fs22 = 0.9167rem
$fs23 = 0.9583rem
$fs24 = 1rem
$fs25 = 1.0417rem
$fs26 = 1.0833rem
$fs28 = 1.1667rem
$fs34 = 1.4167rem
$fs30 = 1.25rem
$fs40 = 1.6667rem
$fs50 = 2.0833rem
