@import './base/variable.styl'

.a
  color aqua

.img-box
  width 400px
  height 400px
  background $background-regular

.box
  width 500px

.item1
  width 100px
  background lightcoral

.item2
  background lightblue

.item3
  background aqua
  overflow hidden
  text-overflow ellipsis
  white-space nowrap

.item4
  background lightgreen
  display -webkit-box
  -webkit-box-orient vertical
  -webkit-line-clamp 2
  overflow hidden