@import './base/variable.styl'
@import './base/reset.styl'
@import './base/common.styl'
@import './base/mixin.styl'
@import './base/layout.styl'
@import './base/flex.styl'
@import './base/media.styl'
@import './detail/home.styl'