
@import './variable.styl'

.img-box
  font-size 0
  display block

  .img
    width 100%
    height 100%
    object-fit cover

.icon-box
  position relative
  font-size 0

  .icon
    position absolute
    top 50%
    left 50%
    transform translate(-50%, -50%)
    max-width 100%
    max-height 100%

// 定位
[data-position~='relative']
  position relative

[data-position~='absolute']
  position absolute

[data-position~='fixed']
  position fixed

.fb
  font-weight bold

.bdrs
  border-radius $border-radius

.block
  display block

.text-center
  text-align center

/* 颜色定义 */
.bcfff
  background #fff

.bctheme
  background $background-theme

.fctheme
  color $color-theme

.fcaaa
  color #aaa

.fcbbb
  color #bbb

.fc000
  color #000

.fc333
  color #333

.fc444
  color #444

.fc555
  color #555

.fc666
  color #666

.fc777
  color #777

.fc888
  color #888

.fc999
  color #999

.fcfff
  color #fff

/* 字体定义 */
.fs0
  font-size 0

.fs10
  font-size $fs10

.fs12
  font-size $fs12

.fs14
  font-size $fs14

.fs16
  font-size $fs16

.fs17
  font-size $fs17

.fs18
  font-size $fs18

.fs20
  font-size $fs20

.fs21
  font-size $fs21

.fs22
  font-size $fs22

.fs23
  font-size $fs23

.fs24
  font-size $fs24

.fs25
  font-size $fs25

.fs26
  font-size $fs26

.fs28
  font-size $fs28

.fs34
  font-size $fs34

.fs30
  font-size $fs30

.fs40
  font-size $fs40

.fs50
  font-size $fs50

.fw100
  font-weight 100

.fw200
  font-weight 200

.fw300
  font-weight 300

.fw400
  font-weight 400

// 透明度
.op0
  opacity 0

.op1
  opacity 0.1

.op2
  opacity 0.2

.op3
  opacity 0.3

.op4
  opacity 0.4

.op5
  opacity 0.5

.op6
  opacity 0.6

.op7
  opacity 0.7

.op8
  opacity 0.8

.op9
  opacity 0.9
