@import './variable.styl'

// 显示隐藏
.show
  display block !important

.hidden
  display none !important

.visibility-hidden
  visibility hidden

.visibility-visible
  visibility visible

// flex布局
.dfr
  display flex
  flex-direction row

.dfc
  display flex
  flex-direction column

.align-start
  align-items flex-start

.align-end
  align-items flex-end

.align-center
  align-items center

/* 弹性元素被在侧轴方向被拉伸到与容器相同的高度或宽度 */
.align-stretch
  align-items stretch

.align-baseline
  align-items baseline

.justify-start
  justify-content flex-start

.justify-end
  justify-content flex-end

/* 均匀排列每个元素,首个元素放置于起点，末尾元素放置于终点 */
.justify-between
  justify-content space-between

/* 均匀排列每个元素,每个元素周围分配相同的空间 */
.justify-around
  justify-content space-around

/* 均匀排列每个元素,每个元素之间的间隔相等 */
.justify-evenly
  justify-content space-evenly

.flex-wrap
  flex-wrap wrap

.flex-center
  align-items center
  justify-content center

.t-c
  text-align center

.t-r
  text-align right

.t-l
  text-align left

.pointer
  cursor pointer

.shadow
  box-shadow $box-shadow

.border
  border 0.01rem solid $border-color

.bs
  border-radius $border-radius

.b-n
  border none !important

/* border在手机端显示1像素 */
.l-t
  border-top 0.01rem solid $single-border-color

.l-r
  border-right 0.01rem solid $single-border-color

.l-l
  border-bottom 0.01rem solid $single-border-color

.l-b
  border-left 0.01rem solid $single-border-color

.fb
  font-weight bold

/* 颜色定义 */
.bcfff
  background #fff

.bctheme
  background $background-theme

.fctheme
  color $color-theme

.fcaaa
  color #aaa

.fcbbb
  color #bbb

.fc000
  color #000

.fc333
  color #333

.fc444
  color #444

.fc555
  color #555

.fc666
  color #666

.fc777
  color #777

.fc888
  color #888

.fc999
  color #999

.fcfff
  color #fff

/* 字体定义 */
.fs0
  font-size 0

.fs12
  font-size 0.12rem

.fs14
  font-size 0.14rem

.fs16
  font-size 0.16rem

.fs17
  font-size 0.17rem

.fs18
  font-size 0.18rem

.fs20
  font-size 0.2rem

.fs21
  font-size 0.21rem

.fs22
  font-size 0.22rem

.fs23
  font-size 0.23rem

.fs24
  font-size 0.24rem

.fs25
  font-size 0.25rem

.fs26
  font-size 0.26rem

.fs34
  font-size 0.34rem

.fs50
  font-size 0.5rem

.fw100
  font-weight 100

.fw300
  font-weight 300