@import './variable.styl'

// 显示隐藏
.show
  display block !important

.hidden
  display none !important

.visibility-hidden
  visibility hidden

.visibility-visible
  visibility visible

// flex布局
.dfr
  display flex
  flex-direction row

.dfc
  display flex
  flex-direction column

.align-start
  align-items flex-start

.align-end
  align-items flex-end

.align-center
  align-items center

/* 弹性元素被在侧轴方向被拉伸到与容器相同的高度或宽度 */
.align-stretch
  align-items stretch

.align-baseline
  align-items baseline

.justify-start
  justify-content flex-start

.justify-end
  justify-content flex-end

/* 均匀排列每个元素,首个元素放置于起点，末尾元素放置于终点 */
.justify-between
  justify-content space-between

/* 均匀排列每个元素,每个元素周围分配相同的空间 */
.justify-around
  justify-content space-around

/* 均匀排列每个元素,每个元素之间的间隔相等 */
.justify-evenly
  justify-content space-evenly

.flex-wrap
  flex-wrap wrap

.flex-center
  align-items center
  justify-content center

// 定位
.pos-re
  position relative

.pos-ab
  position absolute

.pos-fix
  position fixed

.t-c
  text-align center

.t-r
  text-align right

.t-l
  text-align left

.pointer
  cursor pointer

.shadow
  box-shadow $box-shadow

.border
  border 0.01rem solid $border-color

.bs
  border-radius $border-radius

.b-n
  border none !important

/* border在手机端显示1像素 */
.l-t
  border-top 0.01rem solid $single-border-color

.l-r
  border-right 0.01rem solid $single-border-color

.l-l
  border-bottom 0.01rem solid $single-border-color

.l-b
  border-left 0.01rem solid $single-border-color

.fb
  font-weight bold

/* 颜色定义 */
.bcfff
  background #fff

.bctheme
  background $background-theme

.fctheme
  color $color-theme

.fcaaa
  color #aaa

.fcbbb
  color #bbb

.fc000
  color #000

.fc333
  color #333

.fc444
  color #444

.fc555
  color #555

.fc666
  color #666

.fc777
  color #777

.fc888
  color #888

.fc999
  color #999

.fcfff
  color #fff

/* 字体定义 */
.fs0
  font-size 0

.fs12
  font-size $fs12

.fs14
  font-size $fs14

.fs16
  font-size $fs16

.fs17
  font-size $fs17

.fs18
  font-size $fs18

.fs20
  font-size $fs20

.fs21
  font-size $fs21

.fs22
  font-size $fs22

.fs23
  font-size $fs23

.fs24
  font-size $fs24

.fs25
  font-size $fs25

.fs26
  font-size $fs26

.fs34
  font-size $fs34

.fs30
  font-size $fs30

.fs40
  font-size $fs40

.fs50
  font-size $fs50

.fw100
  font-weight 100

.fw200
  font-weight 200

.fw300
  font-weight 300

.fw400
  font-weight 400

// 透明度
.opct0
  opacity 0

.opct1
  opacity 0.1

.opct2
  opacity 0.2

.opct3
  opacity 0.3

.opct4
  opacity 0.4

.opct5
  opacity 0.5

.opct6
  opacity 0.6

.opct7
  opacity 0.7

.opct8
  opacity 0.8

.opct9
  opacity 0.9