// 移动端为主
html
  font-size 14px

@media screen and (min-width: 768px)
  html
    font-size 14px

@media screen and (min-width: 992px)
  html
    font-size 15px

@media screen and (min-width: 1200px)
  html
    font-size 16px

/**
  * PC端为主
@media screen and (max-width: 1200px)
  body
    font-size 14px

@media screen and (max-width: 992px)
  body
    font-size 12px

@media screen and (max-width: 768px)
  body
    font-size 10px
* */