.box
  background #f7f7f7

  .item
    border 1px solid #ddd

header
  .max-wrapper
    height 100px

section
  .wrapper
    width 1416px
    height 416px

    .box
      border 1px solid #ddd
      flex 1 0 236px
